{% extends 'base.html' %}

{% block table %}
<div class = "content">
	<h3> Edit Task </h3>
	<div class = "form">
		<form action = "/edit/{{ task.category }}/{{ task.id }}" method = "POST">
			<input type = "text" name = "content" id = "content" value = "{{ task.task }}">
			<select name = "category" id = "category">
				<option value = "Todo">Todo</option>
				<option value = "Inpro">In Progress</option>
				<option value = "Completed">Completed</option>
			</select>
			<input type = "submit" name = "action" value = "Save Edits">
			<input type = "submit" name = "action" value = "Delete Task">
		</form>
	</div>
</div>
{% endblock %}